body{
    background-color: rgb(223, 217, 217);
    margin: 0;
}
body, html {
    margin: 0;
    padding: 0;
}

.aside_wrapper{
    background: linear-gradient(45deg, #A5AA98, #949b82);
    position: relative;
}

.headerimg{
width: 100%; 
height: 100%;
}

aside {
    display: grid;
    grid: auto / 69% 31%;
    box-shadow: 0px 5px 30px -5px #888888;

}

.header_images{
    display: flex;
    flex-direction: column;
    margin: 0;

}


main {
    width: 100%;

    }
.UPPER{
    margin-left: 150px;
    margin-right: 150px;
    font-size: 25px;
    margin-bottom: 100px;
    font-family: 'Share Tech', sans-serif;
    font-style: bold;


}

.Main_items_upper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}


.Main_items_bottom{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

.Main_title_upper{
font-size: 50px;
margin-left: 250px;
margin-top: 100px;
font-family: 'Roboto Condensed', sans-serif;

}
.Main_img_upper, .Main_img_bottom{
 height: 440px;
 box-shadow: 0px 5px 30px -5px #888888;
}

.Main_text_upper{

    margin-right: 60px;
}
.Main_text_bottom{
    margin-left: 60px;
}




.Main_title_bottom{
    text-align: center;
    margin-bottom: 60px;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;


}

.Main_text_last{
    font-size: 25px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 60px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.header_title {
    position: absolute;
    font-size: 50px;
    font-weight: 700;
    top: 34%;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 61px;
    font-style: italic;

   }
   .header_title2 {
    position: absolute;
    font-size: 80px;
    top: 38%;
    font-weight: 700;
    font-family: 'Share Tech', sans-serif;

   }


.header_link_box{
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    text-decoration: none;
    list-style: none;
    font-weight: 700;
    margin-top: 600px;   
    left: 300px;
 
   }

.nav_links{
    text-decoration: none;
    list-style: none;
    color: black;
        justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    


}
.nav_link{
    color: black;
    font-size: 40px;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    font-style: italic;
    background-color: transparent;

}
.nav_links li a{
    color: black;
    background-color: transparent;
    text-decoration:underline;
  }
  
.nav_links li a:hover{
    content:'';
    color: rgb(105, 103, 103);
}


.Main_contactbox{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 60px;
    background-color: #A5AA98;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 5px 30px -5px #888888;
    font-family: 'Lato', sans-serif;
    
    
}

.name {
    display: block;
    margin-top: 5px;
    align-items: center;
}

input[type="text"], input[type="email"], textarea {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: rgb(223, 217, 217);
    box-shadow: 0px 5px 30px -5px #888888;

    
}

input[type="submit"] {
    display: block;
    width: 40%;
    padding: 10px;
    background-color: #787975;
    color: rgb(22, 16, 16);
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 30px -5px #888888;

}
.name{
    margin-top: 20px;
}


input[type="submit"]:hover {
    background-color: rgb(70, 61, 61)
}

.nav_footer{
    background: linear-gradient(45deg, #A5AA98, #949b82);
    box-shadow: 0px 5px 30px -5px #888888;

}

.nav_links_footer{
    font-family: 'Lato', sans-serif;    color: black;
    text-decoration: none;
    list-style: none;
    left: 300;  
    margin: 0px;   
    margin-left: 200px;
    
    
}
.nav_link_footer{
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    font-size: 40px;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    background-color: transparent;
    


}
.nav_links_footer li a{
    color: black;
    background-color: transparent;
    text-decoration:underline;
    list-style: none;
    color: black;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .nav_links_footer li a:hover{
    content:'';
    color: rgb(105, 103, 103);
}