body{
    margin:0;
    background-image: url('https://i.pinimg.com/originals/a8/13/c2/a813c2c88dbb207e2a783766101b3d62.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family:'Franklin Gothic Medium';
    color: #fff;
    
}
body::before {  
  content: "";
  position: fixed;
  top: -50px;
  left: -250px;
  width: 130%;
  height: 130%;
  background: inherit;
  filter: blur(50px); 
  z-index: -1; 
  
}
header {
    background-color: #303030;
    backdrop-filter: blur(50px);
    color: #ad0404;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow: 3px 3px 3px black;
    font-size: 30px;
    display: block;
    border: 3px solid #5a1010;
    
  }
  a{
    font-size: 20px;
    background-color: #ad0404;
    color: #303030;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    justify-content: center; 
    align-items: center; 
    height: 10px;
    width: 410px; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    border: 3px solid rgb(71, 71, 71);
    flex: auto;
  
    }
  
  a:hover{
    background-color: #5a0505;
    cursor: pointer;
    color:#7b7b7b
  }