@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
body {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #1d1d1d, #2f2e2e);
}
img{
  height: 100px;
}
.photo_content{
  margin-top: 30px;
  height: 500px;
  background-color: green;
}
#body{
  flex-direction: column;

}

#wrapper{
  height: 60vh ;
  
  display: flex;
  border-radius: 10px;
  border: 3px solid black;
  padding: 20px 50px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

#wrapper i{
  font-size: 25px;
  pointer-events: none
}
#image-container{
  height: 100%;
  width: 50vw;
  overflow: hidden;
  padding: 0px 30px;
  
}
#image-carousel{
  display: flex;
  height: 100%;
  width: 65%;
  gap: 100px;
  position: relative;
}
#bild{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  position: absolute;
  transition: 1s; 
  padding: 0px 15px;
}
button{
  
  
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
}












  .box1_main{
    line-height: 35px;
    font-weight: 1000;
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    height: 500px;
    margin-bottom: 30px;    
    margin-right: 60px;
    margin-left: 60px;
    min-height: 50vh;
    margin-bottom: 60px;
    
    
  } 
  
  
  .box2_main{
    line-height: 35px;
    font-weight: 1000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    height: 500px;
    margin-bottom: 30px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 60px;
  }  

  .main_text1{
    text-align: left;
    margin-right: 60px;
    flex-basis: 45ch;
    margin-top: 5rem;  
  }

  .foto_main_1{
    border-radius: 8px 8px 8px 8px;  
  }

  .main_text2{
  margin-left: 60px;
  text-align: left;
  margin-right: 60px;
  flex-basis: 45ch;
  margin-top: 5rem;

  }

  .foto_main_1{
    flex-grow: unset;
    margin: 0 auto;
    max-width: 100%;
    height: auto; 
  }

  .foto_main_2{
    flex-grow: unset;
    margin: 0 auto;
    max-height: 100%;
    width: auto;
    height: 490px;
  }


    
  .box1_main > * {
      flex: 1 1 0;
  }
  .box2_main > * {
    flex: 1 1 0;

}


main {
  color: white;
  font-size: 20px;

}

footer {
  font-size: 25px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;

}


    
    /* Kod do JS text*/

header{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  text-align: center;
  height: 100vh;
  background: linear-gradient(to right, #1d1d1d, #2f2e2e);
  color: #fff;

}

.text {
  font-size: 80px;
  color: #fafafa;
  text-align: center;
  display: flex;
  justify-content: center;
}
.dud {
  color: #00f8ec;
}
    /* Kod do JS*/


    /* arrow code*/
    .arrow-scroll {
      position: absolute;
      font-size: 30px;
      padding-bottom: 100px;
      bottom: -60px;
      left: 50%;
      z-index: 2;
      display: inline-block;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      opacity: .7;
      scroll-behavior: smooth;


  }
  .arrow-scroll span {

    text-align: center;
    display: flex;
    justify-content: center;
      top: 30px;
      left: 50%;
      width: 50px;
      height: 50px;
      margin-left: -12px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb 2s infinite;
      animation: sdb 2s infinite;
      box-sizing: border-box;

  }

@-webkit-keyframes sdb {
  0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      -webkit-transform: rotate(-45deg) translate(-17px, 17px);
      opacity: 0;
  }
}
@keyframes sdb {
  0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      transform: rotate(-45deg) translate(-17px, 17px);
      opacity: 0;
  }
}

    /* arrow code*/

    
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
    border-radius: 300px;

}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#00f8ec0e,#00f8ec, #00f8ec0e);
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece{
  background: #2f2e2e


}









    /* slide code*/



#slider {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}
#slider input[type=radio] {
  display: none;
}
#slider label {
  cursor:pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;
  position: relative;
  z-index: 1;
  
}
#overflow  {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slide5:checked ~ #slides .inner {
  margin-left: -400%;
}
#slide6:checked ~ #slides .inner {
  margin-left: -500%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 100%;
  height: 200px;
}
#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(6),
#slide6:checked ~ #controls label:nth-child(1) {
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(6),
#slide6:checked ~ #controls label:nth-child(1) {
  float:left;
  margin: 0 0 0 -50px;
  display: block;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #controls label:nth-child(1),
#slide2:checked ~ #controls label:nth-child(2),
#slide3:checked ~ #controls label:nth-child(3),
#slide4:checked ~ #controls label:nth-child(4),
#slide5:checked ~ #controls label:nth-child(5),
#slide6:checked ~ #controls label:nth-child(6) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(5),
  #slide5:checked ~ #controls label:nth-child(6),
  #slide6:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(5),
  #slide5:checked ~ #controls label:nth-last-child(6),
  #slide6:checked ~ #controls label:nth-last-child(1