@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
body {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #1d1d1d, #2f2e2e);
}





.photo_content{
  margin-top: 30px;
  height: 500px;
  background-color: green;
}
#body{
  flex-direction: column;

}

#wrapper{
  height: 60vh ;
  
  display: flex;
  border-radius: 10px;
  border: 3px solid black;
  padding: 20px 50px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

#wrapper i{
  font-size: 25px;
  pointer-events: none
}
#image-container{
  height: 100%;
  width: 50vw;
  overflow: hidden;
  padding: 0px 30px;
  
}
#image-carousel{
  display: flex;
  height: 100%;
  width: 65%;
  gap: 100px;
  position: relative;
}
#bild{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  position: absolute;
  transition: 1s; 
  padding: 0px 15px;
}
button{
  
  
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
}












  .box1_main{
    line-height: 35px;
    font-weight: 1000;
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    height: 30rem;
    margin-bottom: 30px;    
    margin-right: 60px;
    margin-left: 60px;
    min-height: 50vh;
    margin-bottom: 60px;
    max-width: 100%;
    
    
  } 
  
  
  .box2_main{
    line-height: 35px;
    font-weight: 1000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    height: 500px;
    margin-bottom: 30px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 60px;
    
  }  

  .main_text1{
    text-align: left;
    margin-right: 60px;
    flex-basis: 45ch;
    margin-top: 5rem;  
  }

  .foto_main_1{
    border-radius: 8px 8px 8px 8px;  
    
  }

  .main_text2{
  margin-left: 60px;
  text-align: left;
  margin-right: 60px;
  flex-basis: 45ch;
  margin-top: 5rem;

  }

  .foto_main_1{
    flex-grow: unset;
    margin: 0 auto;
    max-width: 100%;
    height: auto; 
  }

  .foto_main_2{
    flex-grow: unset;
    margin: 0 auto;
    max-height: 100%;
    width: auto;
    height: 490px;
  }


    
  .box1_main > * {
      flex: 1 1 0;
  }
  .box2_main > * {
    flex: 1 1 0;

}


main {
  color: white;
  font-size: 20px;

}

footer {
  font-size: 25px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;

}


    
    /* Kod do JS text*/

header{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  text-align: center;
  height: 100vh;
  background: linear-gradient(to right, #1d1d1d, #2f2e2e);
  color: #fff;

}

.text {
  font-size: 80px;
  color: #fafafa;
  text-align: center;
  display: flex;
  justify-content: center;
}
.dud {
  color: #00f8ec;
}
    /* Kod do JS*/


    /* arrow code*/
    .arrow-scroll {
      position: absolute;
      font-size: 30px;
      padding-bottom: 100px;
      bottom: -60px;
      left: 50%;
      z-index: 2;
      display: inline-block;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      opacity: .7;
      scroll-behavior: smooth;


  }
  .arrow-scroll span {

    text-align: center;
    display: flex;
    justify-content: center;
      top: 30px;
      left: 50%;
      width: 50px;
      height: 50px;
      margin-left: -12px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb 2s infinite;
      animation: sdb 2s infinite;
      box-sizing: border-box;

  }

@-webkit-keyframes sdb {
  0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      -webkit-transform: rotate(-45deg) translate(-17px, 17px);
      opacity: 0;
  }
}
@keyframes sdb {
  0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      transform: rotate(-45deg) translate(-17px, 17px);
      opacity: 0;
  }
}

    /* arrow code*/

    
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
    border-radius: 300px;

}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#00f8ec0e,#00f8ec, #00f8ec0e);
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece{
  background: #2f2e2e


}




.container{
  padding: 2rem;
  width: 48rem;
  margin: 0 auto;
}
.slider-wrapper {
  position: relative;
  width: 10rem;
  margin: 0 auto;

}
.slider{
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}
.slider img {
  flex: 1 0 100%;
  
}

.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}



@media screen and (max-width: 767px) {
  .box2_main {
    margin-bottom: 10px ;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    height: auto;
    height: 25rem;

  }
  .box1_main {
    margin-bottom: 10px ;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    height: auto;
    height: 25rem;
  }
  .text{
    font-size: 22px;
  }
  main{
    font-size: 15px;
  }
  .main_text1{
    margin-right: 10px;
    text-align: center;
  }
  .main_text2{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin: 0;

  }
  footer{
    font-size: 15px;
    top: 300px;
    
  }
  .foto_main_2{
    max-width: 100%;
  }
  .container{
    width: 100%;
    margin: -6%;
  }

  

  }