:root {
    --aside-width: 15%
}
body{
    text-shadow: 10px 0 15px rgba(0, 0, 0, 0.3); 
    background-color: rgb(212, 212, 212);
}

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

img{
    width: 490px;
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.3); 
    
}

body {
    margin: 0;
    display: grid;
    grid: auto / var(--aside-width) 85%;
    font-family: 'Roboto Condensed', sans-serif;
}

aside{
background-color: rgb(57, 117, 221);
box-shadow: 10px 0 30px rgba(0, 0, 0, 0.3); 
color: white;
}
.aside__wrapper{
position: fixed;
width: var(--aside-width);

}

.header {
    padding: 5em 0;
    
}

.header__logo{
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/gettyimages-1170417494.jpg);
    background-size: cover;
    margin: 0 auto;
    box-shadow: 30px 0 40px rgba(0, 0, 0, 0.3); 



}
.header__title{
    text-align: center;
    margin-top:  0.2em;
    font-size: 55px;
    font-weight: normal;
}

.nav__links{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__link{
    text-align: center;
}

.nav__link + * {
    padding-top: 2em;
    position: relative;
}

.nav__link + *::before{
    position: absolute;
    content: '';
    width: 50%;
    height: 1px;
    background-color: white;
    top: 1em;
    transform: translateX(-2%);
}

.nav__links a{
text-decoration: none;
color: inherit;
font-family: 'Concert One', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-size: 50px;
}
.nav__links a:hover{
    color: rgb(64, 64, 64);
    content: '';
}
.main__heading{
    font-size: 100px;
    text-align: center;
}
.main__text{
    font-size: 23px;
    box-shadow: 10px black;
    
}
.main__text--center{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 30px;
    
}

.main__content{
    display: flex;
    padding: 4em;
    display: flex;
}

.main__content > * {
    flex: 1 1 0;
    padding: 1%;
}

.main__frame{
    display: flex;
    padding: 4em;
    background-color: gray;
    gap: 1em;
    box-shadow: 15px 0 15px rgba(0, 0, 0, 0.3); 

}